<body>
    
    
    <footer class="footer-20192">
      <div class="site-section">
        <div class="container">

          <div class="cta d-block d-md-flex align-items-center px-5">
            <div>
              <h2 class="mb-0">You want more ?</h2>
              <h3 class="text-dark">Register and let's get started!</h3>
            </div>
            <div class="ml-auto">
              <a routerLink="/register" class="btn btn-dark rounded-0 py-3 px-5">Click Here</a>
            </div>
          </div>
          <div class="row">

            <div class="col-sm">
              <a routerLink="#" class="footer-logo">The Lyricist</a>
              <p class="copyright">
                <small>&copy; 2021</small>
              </p>
            </div>
            <div class="col-sm">
              <h3>Customers</h3>
              <ul class="list-unstyled links">
                <li><a routerLink="#">Buyer</a></li>
                <li><a routerLink="#">Supplier</a></li>
              </ul>
            </div>
            <div class="col-sm">
              <h3>Company</h3>
              <ul class="list-unstyled links">
                <li><a routerLink="#">About us</a></li>
              </ul>
            </div>

            
          </div>
        </div>
      </div>
    </footer>


    
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>