<br>
<div style="padding:3px; border-top:5px dashed #fff; border-bottom:5px dashed #fff; background-color:#e3e3e3;"> 
   
        <h1 style="text-align: center;"><font size="+4">Stats of the Favorite artists in the BillBoard</font></h1>
 
</div>
<div id="chartdivrank" style="width: 100%; height: 500px"></div>
<br>
<br>
<div style="text-align: center;">
    <h2>Rank</h2>
</div>
<br>
<br>
<div id="chartdivpeak_position" style="width: 100%; height: 500px"></div>
<br>
<br>
<div style="text-align: center;">
    <h2>Peak Position</h2>
</div>
