<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex "><img src="https://media.istockphoto.com/vectors/acoustic-guitar-icon-creative-idea-concept-of-musical-modern-flat-vector-id871844954?k=20&m=871844954&s=612x612&w=0&h=vjx47Mb9Uwi6rZ7empw0CfFJe2fzVcucorTwxRTil-I="></div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Are you a Lyricist?</h3>
                            <p class="text-muted mb-4">Log Yourself and enjoy!</p>
                            <form
                            *ngIf="!isLoggedIn"
                            name="form"
                            (ngSubmit)="f.form.valid && onSubmit()"
                            #f="ngForm"
                            novalidate
                            >
                                <div class="form-group mb-3">
                                    <input id="inputUsername" type="username" placeholder="Username" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"
                                    type="text"
                                    class="form-control"
                                    name="username"
                                    [(ngModel)]="form.username"
                                    required
                                    #username="ngModel"
                                    >
                                </div>
                                <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="f.submitted && username.invalid"
                                >
                                Username is required!
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                                    type="password"
                                    class="form-control"
                                    name="password"
                                    [(ngModel)]="form.password"
                                    required
                                    minlength="6"
                                    #password="ngModel"
                                    >
                                </div>
                                <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="f.submitted && password.invalid"
                              >
                                <div *ngIf="password.errors.required">Password is required</div>
                                <div *ngIf="password.errors.minlength">
                                  Password must be at least 6 characters
                                </div>
                              </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input" >
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>

                                        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
</div>