<div id="app">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a  class="logo" routerLink="/home"><img src="../assets/logo_proj.png" width="100" height="100"> </a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      > 
      </button>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home"><font size="+4"><font face="Brush Script MT">Home</font></font></a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="/bar-chart" *ngIf="isLoggedIn"><font size="+4"><font face="Brush Script MT">Stats</font></font></a>
          </li>
          <!-- <li class="nav-item">
            <a  class="nav-link" *ngIf="isLoggedIn" routerLink="/user"><font size="+3">User</font></a>
          </li> -->
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">

            <li class="nav-item">
              <a  class="nav-link" routerLink="/register"><font size="+2"><font face="Brush Script MT">Sign Up</font></font></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login"><font size="+2"><font face="Brush Script MT">Login</font></font></a>
            </li>
          </ul>


          <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile"><font size="+2"><font face="Brush Script MT">{{ username }}</font></font></a>
            </li>
            <li class="nav-item">
              <span ><a class="nav-link" (click)="logout()"><font size="+2"><font face="Brush Script MT">Logout</font></font></a></span>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nav>
  

  
  <!-- <nav class="navbar navbar-expand navbar-dark bg-dark" style="background: #212E53; padding-bottom: 0.5rem;">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-icon col-sm-12">
          <a  class="logo" routerLink="/home"><img src="../assets/logo_proj.png" width="100" height="100"> </a>
        </li>
        <div class="col-lg-6">

        <li class="nav-item">
          <a  class="nav-link" routerLink="/bar-chart" *ngIf="isLoggedIn">Stats</a>
        </li> -->


        <!-- deja commenté -->
        <!-- <li class="nav-item">
          <a  class="nav-link" routerLink="/favorite">Yo' Fav' Chart</a>
        </li> -->

        <!-- <li class="nav-item" *ngIf="showAdminBoard">
          <a  class="nav-link" routerLink="/admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a  class="nav-link" routerLink="/mod">Moderator Board</a>
        </li> -->

        <!-- deja commenté -->
        <!-- <li class="nav-item">
          <a  class="nav-link" *ngIf="isLoggedIn" routerLink="/user">User</a>
        </li> -->



        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
      </div>
      </ul>
 

  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">

        <li class="nav-item">
          <a  class="nav-link" routerLink="/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <span ><a class="nav-link" (click)="logout()">Logout</a></span>
        </li>
      </ul>
    </nav> -->
  
      <router-outlet></router-outlet>
  
    </div>