
<body>
<div class="container">
    <br>
    <h1>Artist Details and Tendancy</h1>
	<br>
	<div class="row" id="ads">
    <!-- Category Card -->

    <div class="col-md-12">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">{{DisplayDetailsArtist.artist}}</span>
                <span class="card-notify-year" title="Artist Rank">{{DisplayDetailsArtist.rank}}</span>
                <img class="img-fluid" src={{DisplayDetailsArtist.images[3]}} />
                <p style="text-align: center;"><app-jauge></app-jauge></p>
            </div>
            <div class="card-image-overlay m-auto">
                
                <p title="2 Weeks Ago"><i class="fa fa-bar-chart"></i><abbr> {{DisplayDetailsArtist.two_weeks_ago}}</abbr></p>
                <p title="Last Week"><i class="fa fa-bar-chart"></i> {{DisplayDetailsArtist.last_week}}</p>
                <p title="Award Gained"><i class="fas fa-award"></i> {{DisplayDetailsArtist.award}}</p>
                <!-- <span class="card-detail-badge">{{DisplayDetailsArtist.two_weeks_ago}}</span>

                <span class="card-detail-badge">{{DisplayDetailsArtist.last_week}}</span>
                <span class="card-detail-badge">{{DisplayDetailsArtist.award}}</span> -->
            </div>

        </div>
    </div>

    

</div>
</div>
<app-jauge></app-jauge>
<!-- <app-bar-chart></app-bar-chart> -->
</body>