<div class="team-boxed" >
    <div class="container" >
        <div class="row people" style="border: 1rem solid #4A919E;">
            <div class="col-md-6 col-lg-4 item" *ngFor="let favorite of favorites; let i=index">
                <div class="box"><img class="rounded-circle" >
                    <h3 class="name">{{favorite?.artist}}</h3>
                    <p class="number"><font color="#4A919E" size="+2">{{favorite?.rank}}</font></p>
                </div>
            </div>

        </div>
    </div>
</div>