
/* cards */
.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}


/* Search */

body .bbbootstrap {
  background-image: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1566917764/Add_a_heading.png) !important;
  background-size: cover;
  padding: 180px 0 30px 0
}

.bbbootstrap {
  padding: 40px;
  margin-bottom: 22px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #4A919E;
  -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset
}

.bbbootstrap form {
  
  position: relative;
  width: 540px;
  margin: 22px auto 0
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline
}

.bbbootstrap form input[type="text"] {
  
  padding: 15px 20px;
  padding-right: 100px;
  border-color: transparent;
  border-radius: 4px
}

input.InputBox {
  font-family: "lucida grande", "Lucida Sans Unicode", tahoma, sans-serif;
  color: #333;
  font-size: 15px;
  padding: 3px;
  margin: 0;
  width: 250px;
  background: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.4)
}

input[type=text] {
  box-sizing: border-box
}

.InputBox {
  display: block;
  width: 100% !important;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 22px;
  border-radius: 4px
}

.bbbootstrap form input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  float: right;
  padding: 10px 25px
}

body .Button,
body .button {
  background-color: #4A919E;
  background-image: none
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}

.Button,
.Button:hover,
.Button:focus,
.Button:active {
  text-shadow: none;
  border-color: transparent
}

.Button {
  display: inline-block;
  padding: 6px 12px;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  border: transparent solid 1px;
  border-radius: 3px;
  -webkit-transition: -webkit-box-shadow 50ms;
  transition: -webkit-box-shadow 50ms;
  -o-transition: box-shadow 50ms;
  transition: box-shadow 50ms;
  transition: box-shadow 50ms, -webkit-box-shadow 50ms;
  -webkit-font-smoothing: inherit;
  color: #fff;
  background-color: #4A919E;
  background-repeat: repeat-x;
  background-color: #4A919E;
  background-image: -webkit-linear-gradient(#38a2f7, #2498f7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#38a2f7), to(#2498f7));
  background-image: -o-linear-gradient(#38a2f7, #2498f7);
  background-image: linear-gradient(#38a2f7, #2498f7)
}